body{
    /* background-color: blue; */
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-position: fixed;
}
.heading{
    color: whitesmoke;
    text-shadow: 5px 5px 5px black;
    text-align: center;
    margin-block: 80px 30px;
    font-size: 40px;
}
.wrapper{
    /* border: 1px solid; */
    max-width: 1000px;
    margin: 0 auto;
}
.innerright,
label {
    color: #1a1a1a;
    font-weight:bold;
}
.row,
.imglogo {
    margin:auto;
}

.innerdiv {
    text-align: center;
    max-width: 1000px;
/* margin: 80px auto; */
}
input{
    margin-left:20px;
}
.leftinnerdiv {
    float: left;
    width: 25%;
}

.rightinnerdiv {
    float: right;
    width: 74%;
    margin-left: 10px;
}

form{
    text-align: left;
    width: 80%;
    /* border: 1px solid; */
    margin: 0 auto;
    font-family: tahoma, arial;
    padding-bottom: 20px;
}

form *{
    margin-bottom: 5px;
}
form label{
    font-size: 18px;
}
/* form input{
    width: 70%;
} */
/* form input[type="text"], form input[type="number"]{
    float: right;
}    */
form input[type="radio"], form input[type="submit"]{
    width: unset;
}
/* form input[type="radio"]{
    margin-left: unset;
} */
form input[type="submit"]{
    background-color: #03c04a;
    border: none;
    margin-left: 40%;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    letter-spacing: 1px;
}
form select{
    padding: 5px 10px;
}
.textarea{
    height: 70px;
}

.innerright {
    background-color: rgba(255, 255, 255, 0.308);
}

/* ADD STUDENT FORM CSS */
#addperson > form{
    text-align: center;
}
#addperson > form > input{
    width: 50%;
}
#addperson > form > input[type="password"]{
    width: 45.5%;
}
#addperson > form > input[type="submit"]{
    width: unset;
    margin-left: unset;
}

/* ISSUE BOOK FORM */
#issuebook > form{
    text-align: center;
}
#issuebook > form > input[type="submit"]{
    width: unset;
    margin-left: unset;
}

.greenbtn {
    background-color: #2f7bda;
    color: white;
    width: 95%;
    height: 40px;
    border: none;
}
.greenbtn:hover,.greenbtn:focus{
    background-color: #033674;
} 
.greenbtn + .greenbtn {
    margin-top: 10px;
}

.greenbtn,
a {
    text-decoration: none;
    color: white;
    font-size: large;
}
.content-title{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-block: 15px;
    /* filter: opacity(0.8); */
    padding-block: 20px 40px;
    margin-inline: 20px;
    background-color: #033674;

}
.logout{
    color: white;
    background-color: #ff2c2cd5;
    width: fit-content;
    margin-left: 89%;
    margin-bottom: 20px;
    padding: 10px 13px;
    font-weight: bolder;
    text-shadow: 1px 1px 5px #1a1a1a;
    cursor: pointer;
    letter-spacing: 1px;
}

th{
    background-color: #033674;
    color: white;
}
td{
    background-color: #68a3ed;;
    color: #1a1a1a;
    padding-block: 7px;
    text-transform: capitalize;
}
td, a{
    color: #1a1a1a;
}
tr{
    margin-bottom: 20px;
    text-transform: capitalize;
}
.btn{
    background-color: #033674;
    color: white;
    border: none;
    padding: 10px 15px;
}

.input1{
    width: 72.7%;
}
.input2{
    width: 70%;
}
.input3{
    width: 78%;
}
.textarea{
    width: 84.9%;
}
.input4{
    width: 86.5%;
}
.input5{
    width: 80.7%;
}


/*================= iframe_edit_book */
.edit_book_wrapper{
    position: absolute;
    margin-top: 20vh;
    inset: 0;
    left: 40vw;
    right: 40vw;
    display: none;
}
.iframe_edit_book{
    width: 400px;
    height: 500px;
    /* background: white; */
    border: none;
    border-radius: 20px;
}
#closeBtn_edit_book{
    display: flex;
    justify-content: center;    
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0.567);
    cursor: pointer;
    
}